<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <h1 class="selection">All questions must have at least one option selected.</h1>

    <script src="script.js"></script>
</body>

</html>