<!DOCTYPE html>
    <html>
        <head>
            <title>Tea Recommender</title>
            <link rel="stylesheet" href="/css/style1.css">
        </head>

        <body>
            <div style="display: grid;
                        grid-template-columns: 1fr 1fr;">
                <div class="left">
                    <img class="pic-preview" src="/pics/tea3.jpg">
                </div>
                <div class="right">
                    <a class="tea-modify"> Tea </a>
                    <a class="tea-modify1"> Recommender</a>
                    <a href="https://www.youtube.com/">
                        <button class="button-modify"> Get Start </button>
                    </a>
                </div>
            </div> 
        </body>
    </html>