<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">
<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>

    <ul>
        <% rows.forEach(function(row) { %>
          <div class="tea-block">
            <strong><%= row.tea_name %> <%= row.tea_type %> Tea</strong>
             <br>- Description: <%= row.description %>
          </div>
        <% }); %>
      </ul>
  </div>
</main>

</body>
</html>